//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .modals-wrapper {
        .modal-popup.priceMatchModal._inner-scroll {
            .form.contact {
                background: @price-match-popup__content-backgournd-color;
            }

            .mm-action {
                text-align: center;
            }

            select#country,
            select#region_id {
                background: @price-match-popup__content-backgournd-color;
            }

            .modal-inner-wrap {
                .modal-content {
                    padding: 12px;
                }
            }
        }
    }
}
