//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    .empty-return-list {
        .lib-icon-font(
            @_icon-font-content: @order-return-list-icon-font,
            @_icon-font-size: @order-return-list-icon-size,
            @_icon-font-line-height: @order-return-list-icon-lineheight,
        );
    }
}
