// List page
& when (@media-common =true) {
    .products-grid {
        .product-items {
            .product-item {
                .product-item-info {
                    border: 2px solid @theme__secondary--color-200;
                    background-color: @custom__color-white;
                    padding: 22px;

                    .product-item-photo {
                        margin-bottom: 24px;
                        padding: 0;
                        border: 0;
                        border-radius: 0;

                        &.hover_image {
                            display: none;
                        }

                        .buynow-btn {
                            display: none;
                        }
                    }

                    .product-item-inner {
                        margin-bottom: 0;
                        padding-top: @indent__s;

                        .product-item-actions {
                            margin: 0;

                            .actions-secondary {
                                .buynow-btn {
                                    .buynow,
                                    .confbuynow {
                                        margin: 0;

                                        &:before {
                                            content: @icon-mini-cart;
                                            font-family: @icomoon-font-family;
                                        }
                                    }

                                    .tocart.buynow {
                                        &:before {
                                            content: @icon-add-to-cart;
                                            font-family: @icomoon-font-family;
                                        }
                                    }
                                }
                            }
                        }

                        .actions-primary {
                            .action.tocart {
                                .lib-button-reset();
                                position: absolute;
                                bottom: 7px;
                                right: 24px;
                                display: none;
                                width: auto;
                                cursor: pointer;

                                &:before {
                                    font-family: @icomoon-font-family;
                                    content: @icon-plus;
                                    .lib-font-size(14);
                                    .lib-line-height(34);
                                    width: 32px;
                                    height: 32px;
                                    text-align: center;
                                    color: @custom__color-white;
                                    display: block;
                                    border-radius: 50%;
                                    background: @theme__primary--color;
                                }

                                span {
                                    .lib-text-hide();
                                }
                            }
                        }

                        .action.towishlist {
                            background: none;
                            border: 0;
                            position: absolute;
                            top: 16px;
                            right: 10px;
                            padding-top: 0;
                            z-index: 9;

                            &:before {
                                font-family: @icomoon-font-family;
                                content: @icon-wishlist;
                                .lib-font-size(20);
                                color: @theme__primary--color;
                            }

                            &:hover {
                                &:before {
                                    content: @icon-wishlist-full;
                                }
                            }

                            span {
                                display: none;
                            }
                        }

                        .action.towishlist.active {
                            &:before {
                                content: @icon-wishlist-full;
                            }
                        }
                    }

                    .weltpixel-quickview {
                        display: none; // quickview generated from php code
                    }

                    &:hover {
                        .weltpixel-quickview {
                            display: none; // quickview generated from php code
                        }

                        .product-item-inner {
                            .actions-primary {
                                .action.tocart {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                .product-item-details {
                    padding: 0;
                    text-align: left;

                    .product-brand-name {
                        display: block;
                        margin-bottom: 2px;

                        a {
                            color: @theme__primary--color;
                            .lib-font-size(14);
                            font-weight: @font-weight__bold;
                            letter-spacing: 0.28px;
                            text-transform: uppercase;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }

                    .product-item-name {
                        margin: 0 0 @indent__s;

                        a {
                            font-weight: @font-weight__heavier;
                            color: @text-color;
                            display: block;
                            .lib-text-overflow();

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        .price-box {
            margin: 0;

            .price {
                font-weight: @font-weight__heavier;
                color: @theme__primary--color-400;
            }
        }
    }

    .toolbar-amount {
        .lib-font-size(16);
        font-weight: @font-weight__heavier;
        color: @custom__color-black;
        .lib-line-height(20);
        padding: @indent__s 0 0;
    }
}

.media-width(@extremum, @break)
    when
    (@extremum ='max')
    and
    (@break =@screen__m) {
    .toolbar-product {
        padding: 0;
        text-align: left;
    }

    .sorter {
        float: right;
        padding-right: 122px;
    }

    .toolbar-amount {
        float: left;
    }
}

.media-width(@extremum, @break)
    when
    (@extremum ='max')
    and
    (@break =@screen__xs) {
    body {
        .products-grid {
            .product-items {
                margin: 0;

                .product-item {
                    width: 100%;

                    .product-item-info {
                        border-width: 1px;
                    }

                    .product-item-details {
                        .product-item-name {
                            a {
                                .lib-font-size(16);
                            }
                        }
                    }
                }
            }

            .price-box {
                .price {
                    .lib-font-size(16);
                }
            }
        }

        .sorter {
            width: 50%;
            padding: 0 @indent__s 0 0;
            float: left;

            .sorter-options {
                margin: 0;
                width: 100%;
            }
        }

        .toolbar-amount {
            padding: 24px 0 0;
            clear: both;
            float: none;
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum ='min')
    and
    (@break =@screen__custom__m) {
    .products-grid {
        .product-items {
            .product-item {
                .product-item-details {
                    .product-item-name {
                        a {
                            .lib-font-size(18);
                        }
                    }
                }
            }
        }

        .price-box {
            .price {
                .lib-font-size(18);
            }
        }
    }

    .catalog-category-view {
        .columns {
            .filter {
                .block-content {
                    padding: @indent__s 0 0;
                }
            }
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum ='min')
    and
    (@break =@screen__custom__l) {
    .products-grid {
        .product-items {
            .product-item {
                .product-item-details {
                    .product-item-name {
                        a {
                            .lib-font-size(20);
                        }
                    }
                }
            }
        }

        .price-box {
            .price {
                .lib-font-size(20);
            }
        }
    }
}
