//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .faq-search-bar {
        display: none;
    }

    .sparsh-faq-block {
        .faq-question {
            padding: 0;
        }

        .faq-answer {
            padding-bottom: 0;
        }
    }
}
