& when (@media-common = true) {
    .catalogsearch-result-index.page-layout-2columns-left {
        .column.main {
            .no-page {
                h3 {
                    .lib-font-size(48);
                    color: @color-black;
                }

                .re-result-desc {
                    .lib-font-size(18);
                    color: @color-gray-darken3;
                }

                .re-result-btns {
                    .action {
                        padding: @indent__xs @indent__xl 7px;
                    }
                }
            }

            .result-count {
                .lib-font-size(16);
                color: @color-gray-darken3;
            }
        }
    }
}
