<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="firas_donation_product" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Donation Product</label>
            <tab>catalog</tab>
            <resource>Firas_Donations::config_firas_donations</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="default_product_price" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="text">
                    <label>Default Donation Amount Price</label>
                    <comment/>
                </field>
            </group>
        </section>
    </system>
</config>
