& when (@media-common = true) {
    .catalogsearch-result-index.page-layout-2columns-left {
        .column.main {
            .no-page {
                h3 {
                    .lib-font-size(48);
                    color: @custom__color-black;
                }

                .re-result-desc {
                    .lib-font-size(18);
                    color: @custom__color-page-title;
                }
            }

            .result-count {
                .lib-font-size(16);
                color: @custom__color-page-title;
            }
        }
    }
}
