//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .block {
        .title {
            strong {
                color: @theme__primary--color-26;
            }
        }
    }

    .customer-account-index {
        .block {
            .block-title {
                color: @color-gray20;

                strong {
                    .lib-font-size(24);
                    line-height: @indent__l;
                    font-weight: @font-weight__heavier;
                    color: @color-black;
                }

                a.action.edit {
                    font-size: @font-size__s;
                    .lib-line-height(19);
                    text-transform: capitalize;
                    text-decoration: underline;
                    font-weight: @font-weight__heavier;
                    border: 2px solid @theme__primary--color-400;
                    color: @theme__primary--color-400;
                }
            }
        }
    }

    .block {
        .title {
            strong {
                font-size: @font-size__base;
                margin: 0;
                .lib-line-height(23);
                font-weight: @font-weight__heavier;
            }
        }
    }
}
