//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .smile-es-range-slider {
        .ui-slider-horizontal {
            background-color: @theme__territory--nero--color-50;
            height: 1px;
        }

        .ui-slider-range.ui-widget-header.ui-corner-all {
            background-color: @theme-color;
            height: 1px;
            position: absolute;
        }

        .ui-slider-handle {
            background-color: @theme-color;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            margin-top: -6px;
        }
    }
}
