//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-cart-index {
        .column.main {
            direction: rtl;
        }
    }

    .cart-totals {
        tbody {
            .mark {
                text-align: right;
            }

            .amount {
                text-align: left;
                padding-left: 0;
                padding-right: 14px;
            }
        }
        .grand {
            .mark {
                padding-left: 16px;
                padding-right: 0;
            }
        }
    }

    .cart-summary {
        .block.discount {
            .actions-toolbar {
                left: 0;
                right: auto;
            }
        }
    }

    .block.crosssell {
        .products-grid {
            direction: initial;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = 'min')
    and
    (@break = @screen__m) {
    .checkout-cart-index {
        .cart-summary {
            float: left;
        }

        .form-cart {
            float: right;
        }
    }

    .cart {
        &.table-wrapper {
            .product-item-photo {
                padding-left: 20px;
                padding-right: 0;
            }

            .col {
                &.subtotal {
                    padding-left: 92px;
                    padding-right: 11px;
                }
            }

            .actions-toolbar {
                left: 0;
                right: auto;

                > .action-edit {
                    right: auto;
                    left: 32px;
                    margin-right: 0;
                }

                > .action-delete {
                    left: 5px;
                    right: auto;
                }

                > .towishlist {
                    right: auto;
                    left: 28px;
                }
            }
        }
    }

    .cart-container {
        .form-cart {
            .actions.main {
                text-align: right;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = 'max')
    and
    (@break = @screen__m) {
    .checkout-cart-index {
        .cart {
            &.table-wrapper {
                .product-item-photo {
                    padding-left: 20px;
                    padding-right: 0;
                }

                .actions-toolbar {
                    .action {
                        &.action-delete {
                            &::before {
                                .lib-font-size(20);
                            }
                        }

                        &.action-edit {
                            &::before {
                                .lib-font-size(18);
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = 'max')
    and
    (@break = @screen__s) {
    .cart-totals {
        .totals {
            .amount {
                text-align: left;
            }
        }
    }
}
