<?xml version="1.0"?>
<!--
/**
 * @category    LuxuryUnlimited
 * @package     LuxuryUnlimited_GoogleAnalytics
 * @copyright   2023 © Luxury Unlimited
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="luxuryunlimited_google" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Analytics</label>
            <tab>Luxury_Unlimited</tab>
            <resource>Luxury_Unlimited::googleanalytics</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GA4 Integration</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="events" translate="enable" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Trigger Events</label>
                    <source_model>LuxuryUnlimited\GoogleAnalytics\Model\Config\Source\ConfigOption</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
