& when (@media-common = true) {
    .cls_referfrind_form {
        .fields {
            .control {
                .special-number-dropdown {
                    select {
                        border-radius: 0;
                        border: none;
                    }

                    .selected-flag {
                        left: 17px;
                        .fi {
                            font-size: 27px;
                        }
                    }
                }
            }
        }
    }
}
