@mobile-cart-padding: 15px;
@cart-price-color: @color-gray40;
@cart-item-cell-padding-top: 20px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cart container
    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }
    }

    //  Summary block
    .cart-summary {
        .lib-vendor-prefix-display(flex);
        .lib-css(flex-direction, column, @_prefix: 1);

        &:extend(.abs-add-box-sizing all);

        margin-bottom: @indent__m;

        &:extend(.abs-adjustment-incl-excl-tax all);

        .block {
            form:not(:last-of-type) {
                .fieldset {
                    margin: 0 0 @indent__m;
                }
            }

            .price {
                font-weight: @font-weight__bold;
            }

            .field {
                margin: 0 0 16px;
            }

            .actions-toolbar {
                > .primary {
                    text-align: left;

                    .action.primary {
                        &:extend(.abs-revert-to-action-secondary all);
                        width: auto;
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);
            .title {
                strong {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                }
            }

            .item-options {
                margin: 0 0 16px;

                .field {
                    .radio {
                        float: left;
                        margin-top: 4px;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            padding: 0 @mobile-cart-padding;
            text-align: center;
            order: 1;

            .action.primary.checkout {
                &:extend(.abs-button-l all);
                width: 100%;
                margin-top: @indent__s;
            }

            .item {
                margin-bottom: @indent__m;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        .secure_shopping {
            padding: @indent__xxs 0;
            order: 1;
            margin-top: @indent__m;

            .help-btn {
                .lib-css(display, flex, @_prefix: 1);
                .lib-font-size(12);
                cursor: pointer;
                .lib-css(justify-content, center, @_prefix: 1);

                p {
                    padding: 0 4px;
                }
            }

            .secure-modal {
                display: none; // hide model frist load
            }
        }
    }

    //  Mpdal secure_shopping
    .modal-popup.secure_shopping {
        .modal-inner-wrap {
            width: 607px;
            overflow: hidden;

            .modal-footer {
                display: none; //hide modal footer
            }

            .modal-content {
                .secure-content {
                    text-align: center;
                    padding: 2px;

                    img {
                        margin: 2px 10px;
                    }
                }
            }
        }
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);
        tbody,
        tfoot {
            .mark {
                text-align: left;
            }
        }

        .discount.coupon {
            display: none;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr th.col {
                        border-bottom: @border-width__base solid
                            @border-color__base;
                        padding-bottom: 15px;
                        padding-top: 24px;
                    }
                }

                tbody {
                    td {
                        border: 0;
                    }
                }

                > .item {
                    position: relative;
                }
            }

            .col {
                padding-top: 15px;

                &.price,
                &.subtotal,
                &.msrp {
                    padding: @cart-item-cell-padding-top 11px @indent__s;
                    text-align: center;
                    &:extend(.abs-incl-excl-tax all);
                }

                &.qty {
                    padding: @indent__base 11px @indent__s;
                    text-align: center;

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }

                    .input-text {
                        height: 36px;
                        margin-top: -7px;
                        text-align: center;
                        width: 60px;
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(18);
                    font-weight: @font-weight__bold;
                }
            }

            .item-actions {
                td {
                    padding-bottom: 0;
                    padding-left: @mobile-cart-padding;
                    padding-right: @mobile-cart-padding;
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    display: block;
                    min-height: 75px;
                    padding: 15px @mobile-cart-padding @indent__s 90px;
                    position: relative;
                    .lib-css(display, flex, @_prefix: 1);
                    .lib-css(align-items, center, @_prefix: 1);
                }
            }

            .actions-toolbar {
                &:extend(.abs-add-clearfix all);
                min-height: 20px;
                padding-bottom: 15px;
                position: relative;
                margin-right: @indent__xs;

                > .action-edit,
                > .action-delete,
                > .towishlist {
                    position: absolute;
                    right: 0;
                    top: 0;
                    .lib-icon-font(
                        @icon-edit,
                        @_icon-font-size: 18px,
                        @_icon-font-line-height: 20px,
                        @_icon-font-text-hide: true,
                        @_icon-font-color: @custom-secondary-text-color,
                        @_icon-font-color-hover: @primary__color,
                        @_icon-font-color-active: @color-blue1
                    );
                }

                > .action-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-trash
                    );

                    &:hover {
                        .lib-css(text-decoration, @link__text-decoration);
                    }
                }

                > .towishlist {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-wishlist
                    );

                    &:hover {
                        .lib-css(text-decoration, @link__text-decoration);
                    }
                }
            }

            .action {
                margin-right: @indent__m;

                &:last-child {
                    margin-right: 0;
                }

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }

            .product {
                &-item-photo {
                    display: block;
                    left: @mobile-cart-padding;
                    max-width: 65px;
                    padding: 0;
                    position: absolute;
                    top: 15px;
                    width: 100%;
                }

                &-item-name {
                    .lib-font-size(18);
                    display: block;
                    margin: -3px 0 @indent__xs;
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ':';
                }
            }

            //  Product options
            .item-options {
                margin-bottom: 0;
                &:extend(.abs-product-options-list all);
                &:extend(.abs-add-clearfix all);
            }

            .product-item-name + .item-options {
                margin-top: @indent__base;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);
                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //  Discount
    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
        clear: left;
        &:extend(.abs-discount-block all);
    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;

        h3 {
            .lib-font-size(30);
            .lib-line-height(44);
            font-weight: @font-weight__semibold;
            color: @custom__color-black;
        }

        .re-result-btns {
            margin-top: @indent__l;
        }
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = 'max')
    and
    (@break = @screen__s) {
    .cart {
        .table.items {
            .col.item,
            .item-actions td {
                &:extend(.abs-col-no-prefix all);
            }

            .col.qty {
                text-align: center;
            }

            tbody > tr > td:last-child {
                &:extend(.abs-no-border-bottom-top all);
            }
        }

        &.table-wrapper {
            .cart {
                > .item {
                    .lib-vendor-prefix-display(flex);

                    .item-info {
                        flex: 1 1 0;
                    }

                    .item-actions {
                        .lib-vendor-prefix-display(flex);
                        .lib-css(justify-content, space-between, @_prefix: 1);
                        .lib-css(align-items, end, @_prefix: 1);
                    }
                }
            }
        }
    }

    .cart-totals {
        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }

    .checkout-cart-index {
        .cart.table-wrapper {
            .actions-toolbar {
                position: static;
                .lib-vendor-prefix-display(flex);
                .lib-css(align-items, baseline, @_prefix: 1);

                > .action-edit,
                > .action-delete,
                > .towishlist {
                    display: block;
                    position: static;
                    margin-right: 0;
                    .lib-vendor-prefix-display(flex);
                }
            }
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = 'max')
    and
    (@break = @screen__m) {
    //  Cart container
    .cart-container {
        .form-cart {
            .actions.main {
                .lib-vendor-prefix-display();
                .lib-vendor-prefix-flex-direction(column);
                .lib-vendor-box-align(center);

                .clear,
                .continue {
                    .lib-css(margin, 0 0 @indent__m 0);
                }
            }
        }
    }

    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
    }

    .cart {
        &.table-wrapper {
            border-top: @border-width__base solid @border-color__base;
            thead {
                .col {
                    &.item,
                    &.qty,
                    &.price,
                    &.subtotal,
                    &.msrp {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    white-space: nowrap;
                    width: 33%;

                    &[data-th]:before {
                        content: attr(data-th);
                        display: block;
                        font-weight: @font-weight__semibold;
                        padding-bottom: 10px;
                    }
                }

                &.msrp {
                    white-space: normal;
                }
            }

            .item .col.item {
                padding-bottom: 0;
            }

            tbody > tr > td:last-child {
                border: 0;
            }
        }
    }

    .cart-totals {
        padding-left: @mobile-cart-padding;
        padding-right: @mobile-cart-padding;

        .table-wrapper {
            border-top: 0;
            border: none;
        }

        .totals {
            tbody > tr:not(:last-child) > td:last-child {
                border: 0;
            }
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: left;
        }
    }

    .page-main {
        .cart-container {
            .form-cart {
                width: 100%;

                .table-wrapper {
                    .cart {
                        &.item {
                            .item-info {
                                .qty {
                                    padding-left: @indent__xs;
                                }
                            }

                            .item-actions {
                                .action-towishlist {
                                    top: 4px;
                                    margin-right: 32px;
                                }
                            }
                        }
                    }
                }

                .cart.actions {
                    margin-top: @indent__base;

                    .action.continue {
                        margin-bottom: @indent__xs;
                    }
                }
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cross sell
    .block {
        &.crosssell {
            .products {
                margin: 0;
            }

            .products-grid {
                .product-items {
                    .product-item {
                        width: 100%;
                    }
                }
            }
        }
    }

    //  Summary block
    .cart-summary {
        .action {
            &.action {
                &.primary {
                    &.checkout {
                        width: auto;
                        margin-top: @indent__m;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = 'min')
    and
    (@break = @screen__s) {
    .cart-container {
        .block.crosssell {
            .products-grid {
                .product-item-actions {
                    margin: 0 0 @indent__s;
                }
            }
        }
    }

    .checkout-cart-index {
        .page-main {
            .cart {
                &.table-wrapper {
                    .item {
                        .col {
                            &.item {
                                padding: @indent__base 8px @indent__base
                                    @indent__xs;

                                .product-item-photo {
                                    min-width: 100px;
                                }
                            }
                        }
                    }
                }

                &-container {
                    .cart-totals {
                        .table-wrapper {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = 'min')
    and
    (@break = @screen__m) {
    .checkout-cart-index {
        .page-main {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }

        .page-title-wrapper {
            &:extend(.abs-revert-side-paddings all);
        }
    }

    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            width: 65.5%;
            float: left;
            .lib-vendor-prefix-order(1);

            .actions.main {
                text-align: right;
            }
        }

        .widget {
            float: left;

            &.block {
                margin-bottom: @indent__base;
            }
        }
    }

    //  Summary block
    .cart-summary {
        width: 31.944444444444443%;
        float: right;
        .lib-vendor-prefix-order(2);
        position: relative;

        > .title {
            display: block;
        }

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }

            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }

        .checkout-methods-items {
            padding: 0;
        }
    }

    .cart.table-wrapper {
        .product-item-photo {
            width: 20%;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .items {
                // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            tbody td {
                padding-top: @cart-item-cell-padding-top;
            }

            .item {
                .col.item {
                    padding: @cart-item-cell-padding-top 8px @indent__base 0;
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                }

                &-item-details {
                    display: table-cell;
                    padding-bottom: 35px;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    //  Discount
    .cart-discount {
        &:extend(.abs-discount-block-desktop all);
        .lib-layout-column(2, 1, @layout-column-checkout__width-main);
        border: 0;
        box-sizing: border-box;
        padding-right: 4%;

        .block {
            .title {
                &:after {
                    display: inline;
                    margin-left: @indent__s;
                    position: static;
                }
            }

            &.discount {
                width: auto;
            }

            .actions-toolbar {
                width: auto;
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }

    //  Cross sell
    .block {
        &.crosssell {
        }
    }
}
