//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .customer-account-edit {
        .page-title-wrapper {
            text-align: center;
        }

        #form-validate {
            h2 {
                text-align: center;
            }

            .fieldset {
                .field {
                    margin: 0;
                }
            }
        }
    }
}
