<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<if args="isSalable($row())">
    <div class="product-item-inner">
        <div class="okaydone actions-primary">
            <button class="action tocart primary"
                    attr="'data-mage-init': getDataMageInit($row()),
                        'data-post': getDataPost($row()),
                        title: getLabel()"
                    type="button">
                <span translate="'Add to Cart'"></span>
            </button>
        </div>
    </div>
</if>

<if args="isAvailable($row()) === false">
    <div class="stock unavailable">
        <text args="$t('Availability')"></text>
        <span translate="'Out of stock'"></span>
    </div>
</if>

