/* Generated Less from WeltPixel_CategoryPage */

.canvas_icons {
    @size: 25px;
    position: relative;
    top: 0;
    margin: 0 5px 0 0;
    padding: 0;
    width: @size;
    height: @size;
    line-height: @size !important;
    text-align: center;
    font-size: 20px;

    display: inline-block;
    font-family: font-icons, sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
    &:before {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
    }
}
.swatch-option-tooltip {
    display: none !important;
}

@media (min-width: 768px), print {
    .page-products
        .grid.products-grid
        :not(.widget-product-grid)
        .product-item {
        width: 32.333333333333% !important;
    }
    .catalog-product-view .grid.products-grid .product-item {
        width: 24% !important;
    }
    .catalog-product-view .grid.products-grid .owl-item .product-item {
        width: 100% !important;
    }
    .page-products .grid.products-grid .product-items,
    .catalog-product-view .grid.products-grid .product-items {
        margin: 0 !important;
    }
    .page-products .grid.products-grid .product-item {
        width: 32.333333333333%;
        margin-left: calc(~'(100% - 3 * 32.333333333333%) / 3');
        padding: 0;
        .product_image {
            .product-item-actions {
                .actions-secondary {
                    display: block;
                }
            }
        }
        &:nth-child(3n + 1) {
            margin-left: calc(~'(100% - 3 * 32.333333333333%) / 3');
        }
        &:nth-child(4n + 1) {
            margin-left: calc(~'(100% - 3 * 32.333333333333%) / 3');
        }
    }
    .catalog-product-view .grid.products-grid .product-item {
        width: 24%;
        margin-left: calc(~'(100% - 4 * 24%) / 4');
        padding: 0;
        &:nth-child(3n + 1) {
            margin-left: calc(~'(100% - 4 * 24%) / 4');
        }
    }

    .page-products .grid.products-grid .product-item {
        width: 32.333333333333%;
    }
    .catalog-product-view .grid.products-grid .product-item {
        width: 24%;
    }
    .catalog-product-view .grid.products-grid .owl-item .product-item {
        width: 100% !important;
    }
    .page-products .grid.products-grid .product-item {
        width: 32.333333333333%;
    }
    .catalog-product-view .grid.products-grid .product-item {
        width: 24%;
    }
    .catalog-product-view .grid.products-grid .owl-item .product-item {
        width: 89% !important;
        margin: 0;
    }
}

.products-grid {
    .product-item {
        .product-item-info {
            width: 100% !important;
            position: relative;
            border: 0px solid transparent !important;
            &:hover {
                -webkit-box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.5) !important;
                -moz-box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.5) !important;
                box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.5) !important;
                border: 0px solid #ffffff !important;
                position: relative;
            }
        }
        &:hover {
            background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
        }
    }
    &.wishlist {
        .product-item {
            .product-item-info {
                border: 1px solid transparent !important;
                &:hover {
                    position: relative;
                    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3) !important;
                    border: 1px solid rgba(0, 0, 0, 0.3) !important;
                    .product-item-inner {
                        box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        border-top: none;
                    }
                }
            }
        }
    }
    &.products-upsell {
        .product-item {
            .product-item-info {
                border-bottom: 0px solid transparent !important;
                &:hover {
                    border-bottom: 0px solid #ffffff !important;
                }
            }
        }
    }
}
.products-list {
    .product-item {
        &:hover {
            -webkit-box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.5) !important;
            -moz-box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.5) !important;
            box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.5) !important;
            border: 0px solid #ffffff !important;
        }
    }
}

.products-grid {
    .product-item {
        .product-item-name {
            text-align: center !important;
            a {
                text-align: center !important;
                font-size: 14px !important;
                color: #000000 !important;
            }
        }
    }
}
.products-list {
    .product-item {
        .product-item-name {
            text-align: left !important; // center
            a {
                text-align: left !important; // center
                font-size: 14px !important;
                color: #000000 !important;
            }
        }
    }
}

.products-grid {
    .product-item {
        .product-item-details {
            .product-reviews-summary {
                text-align: center !important;
                .reviews-actions,
                .rating-summary {
                    text-align: left !important;
                }
            }
        }
    }
}
.products-list {
    .product-item {
        .product-item-details {
            .product-reviews-summary {
                text-align: left !important; // center
                .reviews-actions,
                .rating-summary {
                    text-align: left !important;
                }
            }
        }
    }
}

.products-grid {
    .product-item {
        .product-item-details {
            .price-box {
                text-align: center !important;
                .price-container {
                    .price-label {
                        display: block !important;
                    }
                    .price {
                        font-size: 16px !important;
                        color: #000000 !important;
                    }
                }
                .old-price {
                    margin-left: 10px;
                    .price-container {
                        .price-label {
                            display: none;
                        }
                        .price {
                            font-size: 16px !important;
                            color: #000000 !important;
                        }
                    }
                }
                .special-price {
                    .price-container {
                        .price-label {
                            display: none;
                        }
                        .price {
                            font-size: 16px !important;
                            color: #000000 !important;
                        }
                    }
                }
            }
        }
    }
}
.products-list {
    .product-item {
        .product-item-details {
            .price-box {
                text-align: left !important;
                .price-container {
                    .price-label {
                        display: none;
                    }
                    .price {
                        font-size: 16px !important;
                        color: #000000 !important;
                    }
                }
                .old-price {
                    margin-left: 10px;
                    .price-container {
                        .price-label {
                            display: none;
                        }
                        .price {
                            font-size: 16px !important;
                            color: #000000 !important;
                        }
                    }
                }
                .special-price {
                    .price-container {
                        .price-label {
                            display: none;
                        }
                        .price {
                            font-size: 16px !important;
                            color: #000000 !important;
                        }
                    }
                }
            }
        }
    }
}

.products-grid {
    .swatch-attribute {
        text-align: center !important; // center
        .swatch-attribute-options {
            text-align: center !important; // center
            display: inline-block !important;
            padding: 2px 0;
            > a {
                float: none !important;
                display: inline-block !important;
                &:hover {
                    background: none;
                }
            }
        }
    }
    .swatch-option {
        outline: none !important;
        position: relative;
        &.color,
        &.image {
            border: none !important;
            &:before {
                position: absolute;
                top: 2px;
                left: 2px;
                z-index: 0;
                width: 18px;
                height: 18px;
                border: 3px solid transparent;
                border-radius: 20px !important;
                -moz-border-radius: 20px !important;
                -webkit-border-radius: 20px !important;
                visibility: visible;
                content: '';
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            &:after {
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 22px;
                height: 22px;
                line-height: 22px;
                font-family: lined-icons, sans-serif;
                speak: none;
                font-style: normal;
                font-weight: 900;
                font-variant: normal;
                font-size: 12px;
                text-transform: none;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: '\e116';
                color: #ffffff;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            &:hover {
                position: relative;
                overflow: visible;
                &:before {
                    visibility: visible;
                    border: 3px solid white;
                }
            }
            &.selected {
                position: relative;
                overflow: visible;
                &:before {
                    visibility: visible;
                    border: 3px solid white;
                }
                &:after {
                    visibility: visible;
                }
                &[option-tooltip-value='#fff'],
                &[option-tooltip-value='#ffffff'] {
                    &:after {
                        color: #000000;
                    }
                }
            }
            &[option-tooltip-value='#fff'],
            &[option-tooltip-value='#ffffff'] {
                border: 1px solid #cccccc !important;
                &:before {
                    top: 0px;
                    left: 0px;
                }
                &:after {
                    top: 0px;
                    left: 0px;
                }
            }
        }
        &.text {
            position: relative;
            &.selected,
            &:hover {
                position: relative;
                overflow: visible;
                border: 2px solid #999999 !important;
            }
        }
    }

    .product-item {
        .product-item-info {
            .swatch-attribute-options {
                display: none !important;
            }
        }
    }

    .swatch-option {
        border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        -webkit-border-radius: 20px !important;
        width: 22px !important;
        height: 22px !important;
        min-width: 22px !important;
        margin: 3px !important;
    }
    .swatch-option.text {
        line-height: 20px !important;
        padding: 0 !important;
        font-size: 10px !important;
        margin: 3px !important;
    }

    .swatch-option:not(.image):not(.color):not(.text) {
        border: 1px solid #ddd !important;
        &:hover {
            border: 1px solid #999 !important;
        }
        &.selected {
            border: 1px solid #999 !important;
        }
    }
}

.products-list {
    .swatch-attribute {
        text-align: left !important; // left
        .swatch-attribute-options {
            text-align: left !important; // left
            display: inline-block !important;
            padding: 2px 0;
            > a {
                float: none !important;
                display: inline-block !important;
                &:hover {
                    background: none;
                }
            }
        }
    }
    .swatch-option {
        outline: none !important;
        position: relative;
        &.color,
        &.image {
            border: none !important;
            &:before {
                position: absolute;
                top: 2px;
                left: 2px;
                z-index: 0;
                width: 18px;
                height: 18px;
                border: 3px solid transparent;
                border-radius: 20px !important;
                -moz-border-radius: 20px !important;
                -webkit-border-radius: 20px !important;
                visibility: visible;
                content: '';
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            &:after {
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 22px;
                height: 22px;
                line-height: 22px;
                font-family: lined-icons, sans-serif;
                speak: none;
                font-style: normal;
                font-weight: 900;
                font-variant: normal;
                font-size: 12px;
                text-transform: none;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: '\e116';
                color: #ffffff;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            &:hover {
                position: relative;
                overflow: visible;
                &:before {
                    visibility: visible;
                    border: 3px solid white;
                }
            }
            &.selected {
                position: relative;
                overflow: visible;
                &:before {
                    visibility: visible;
                    border: 3px solid white;
                }
                &:after {
                    visibility: visible;
                }
                &[option-tooltip-value='#fff'],
                &[option-tooltip-value='#ffffff'] {
                    &:after {
                        color: #000000;
                    }
                }
            }
            &[option-tooltip-value='#fff'],
            &[option-tooltip-value='#ffffff'] {
                border: 1px solid #cccccc !important;
                &:before {
                    top: 0px;
                    left: 0px;
                }
                &:after {
                    top: 0px;
                    left: 0px;
                }
            }
        }
        &.text {
            position: relative;
            &.selected,
            &:hover {
                position: relative;
                overflow: visible;
                border: 2px solid #999999 !important;
            }
        }
    }

    .product-item {
        .product-item-info {
            .swatch-attribute-options {
                display: none !important;
            }
        }
    }

    .swatch-option {
        border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        -webkit-border-radius: 20px !important;
        width: 22px !important;
        height: 22px !important;
        min-width: 22px !important;
        margin: 3px !important;
    }
    .swatch-option.text {
        line-height: 20px !important;
        padding: 0 !important;
        font-size: 10px !important;
        margin: 3px !important;
    }

    .swatch-option:not(.image):not(.color):not(.text) {
        border: 1px solid #ddd !important;
        &:hover {
            border: 1px solid #999 !important;
        }
        &.selected {
            border: 1px solid #999 !important;
        }
    }
}

.sidebar #layered-filter-block .filter-options {
    .swatch-attribute {
        text-align: center !important; // center
        .swatch-attribute-options {
            text-align: center !important; // center
            display: inline-block !important;
            padding: 2px 0;
            > a {
                float: none !important;
                display: inline-block !important;
                &:hover {
                    background: none;
                }
            }
        }
    }
    .swatch-option {
        outline: none !important;
        position: relative;
        &.color,
        &.image {
            border: none !important;
            &:before {
                position: absolute;
                top: 2px;
                left: 2px;
                z-index: 0;
                width: 18px;
                height: 16px;
                border: 3px solid transparent;
                border-radius: 22px !important;
                -moz-border-radius: 22px !important;
                -webkit-border-radius: 22px !important;
                visibility: visible;
                content: '';
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            &:after {
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 22px;
                height: 20px;
                line-height: 20px;
                font-family: lined-icons, sans-serif;
                speak: none;
                font-style: normal;
                font-weight: 900;
                font-variant: normal;
                font-size: 12px;
                text-transform: none;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: '\e116';
                color: #ffffff;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            &:hover {
                position: relative;
                overflow: visible;
                &:before {
                    visibility: visible;
                    border: 3px solid white;
                }
            }
            &.selected {
                position: relative;
                overflow: visible;
                &:before {
                    visibility: visible;
                    border: 3px solid white;
                }
                &:after {
                    visibility: visible;
                }
                &[option-tooltip-value='#fff'],
                &[option-tooltip-value='#ffffff'] {
                    &:after {
                        color: #000000;
                    }
                }
            }
            &[option-tooltip-value='#fff'],
            &[option-tooltip-value='#ffffff'] {
                border: 1px solid #cccccc !important;
                &:before {
                    top: 0px;
                    left: 0px;
                }
                &:after {
                    top: 0px;
                    left: 0px;
                }
            }
        }
        &.text {
            position: relative;
            &.selected,
            &:hover {
                position: relative;
                overflow: visible;
                border: 2px solid #999999 !important;
            }
        }
    }

    .swatch-option {
        border-radius: 22px !important;
        -moz-border-radius: 22px !important;
        -webkit-border-radius: 22px !important;
        width: 22px !important;
        height: 20px !important;
        min-width: 22px !important;
        margin: 3px !important;
    }
    .swatch-option.text {
        line-height: 18px !important;
        padding: 0 !important;
        font-size: 12px !important;
        margin: 3px !important;
    }

    .swatch-option:not(.image):not(.color):not(.text) {
        border: 1px solid #ddd !important;
        &:hover {
            border: 1px solid #999 !important;
        }
        &.selected {
            border: 1px solid #999 !important;
        }
    }
}

.page-layout-1column #layered-filter-block .filter-options {
    .swatch-attribute {
        text-align: center !important; // center
        .swatch-attribute-options {
            text-align: center !important; // center
            display: inline-block !important;
            padding: 2px 0;
            > a {
                float: none !important;
                display: inline-block !important;
                &:hover {
                    background: none;
                }
            }
        }
    }
    .swatch-option {
        outline: none !important;
        position: relative;
        &.color,
        &.image {
            border: none !important;
            &:before {
                position: absolute;
                top: 2px;
                left: 2px;
                z-index: 0;
                width: 18px;
                height: 16px;
                border: 3px solid transparent;
                border-radius: 22px !important;
                -moz-border-radius: 22px !important;
                -webkit-border-radius: 22px !important;
                visibility: visible;
                content: '';
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            &:after {
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 22px;
                height: 20px;
                line-height: 20px;
                font-family: lined-icons, sans-serif;
                speak: none;
                font-style: normal;
                font-weight: 900;
                font-variant: normal;
                font-size: 12px;
                text-transform: none;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: '\e116';
                color: #ffffff;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            &:hover {
                position: relative;
                overflow: visible;
                &:before {
                    visibility: visible;
                    border: 3px solid white;
                }
            }
            &.selected {
                position: relative;
                overflow: visible;
                &:before {
                    visibility: visible;
                    border: 3px solid white;
                }
                &:after {
                    visibility: visible;
                }
                &[option-tooltip-value='#fff'],
                &[option-tooltip-value='#ffffff'] {
                    &:after {
                        color: #000000;
                    }
                }
            }
            &[option-tooltip-value='#fff'],
            &[option-tooltip-value='#ffffff'] {
                border: 1px solid #cccccc !important;
                &:before {
                    top: 0px;
                    left: 0px;
                }
                &:after {
                    top: 0px;
                    left: 0px;
                }
            }
        }
        &.text {
            position: relative;
            &.selected,
            &:hover {
                position: relative;
                overflow: visible;
                border: 2px solid #999999 !important;
            }
        }
    }

    .product-item {
        .product-item-info {
            .swatch-attribute-options {
                display: none !important;
            }
        }
    }

    .swatch-option {
        border-radius: 22px !important;
        -moz-border-radius: 22px !important;
        -webkit-border-radius: 22px !important;
        width: 22px !important;
        height: 20px !important;
        min-width: 22px !important;
        margin: 3px !important;
    }
    .swatch-option.text {
        line-height: 18px !important;
        padding: 0 !important;
        font-size: 12px !important;
        margin: 3px !important;
    }

    .swatch-option:not(.image):not(.color):not(.text) {
        border: 1px solid #ddd !important;
        &:hover {
            border: 1px solid #999 !important;
        }
        &.selected {
            border: 1px solid #999 !important;
        }
    }
}

#layered-filter-block {
    &.filter {
        .block-content.filter-content {
            .block-subtitle {
                border-style: solid;
                border-width: 0 0 1px 0;
                border-color: #cccccc;
            }
        }
    }
    .block-content.filter-content {
        .filter-options {
            .filter-options-item {
                .filter-options-title {
                    border-style: solid;
                    border-width: 0 0 1px 0;
                    border-color: #cccccc;
                    &:after {
                        color: rgb(69, 69, 69);
                    }
                    &:hover {
                        &:after {
                            color: rgb(69, 69, 69);
                        }
                    }
                }
            }
        }
    }
}
.toolbar.toolbar-products {
    padding: 10px;
    .label_style() {
        font-size: 12px;
    }
    label {
        .label_style;
        span {
            .label_style;
        }
    }
    select.sorter-options,
    select.limiter-options {
        font-size: 13px;
        color: #454545;
        border-width: 0px 0px 1px 0px;
        min-height: 25px;
        line-height: 19px;
        border-style: solid;
        border-color: #cccccc;
        box-shadow: unset;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='10' width='16'><line x1='0' y1='0' x2='8' y2='8' style='stroke:rgb(69,69,69);stroke-width:2' /><line x1='16' y1='0' x2='8' y2='8' style='stroke:rgb(69,69,69);stroke-width:2' /></svg>")
            no-repeat 90% 50% #ffffff;
        border-radius: 0px;
        background-size: 12px;
        padding: 0px 30px 2px 5px;
        &:focus {
            border-color: #454545;
            background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='10' width='16'><line x1='0' y1='0' x2='8' y2='8' style='stroke:rgb(69,69,69);stroke-width:2' /><line x1='16' y1='0' x2='8' y2='8' style='stroke:rgb(69,69,69);stroke-width:2' /></svg>")
                no-repeat 90% 50% #ffffff;
            background-size: 12px;
        }
        option {
            color: #454545;
            &:hover,
            &:checked {
                background-color: #eeeeee;
            }
        }
    }
    select.limiter-options {
        padding: 0 15px 2px 5px;
    }
    .modes {
        #modes-label {
            .label_style;
        }
        .modes-mode {
            background-color: #ffffff;
            border: 1px solid #ffffff;
            color: #bababa;
            &:before {
                color: #bababa;
                font-size: 20px !important;
            }
            &:hover {
                background-color: #ffffff;
                border: 1px solid #ffffff;
                &:before {
                    color: #2b2b2b !important;
                    font-size: 20px !important;
                }
            }
            &.active {
                background-color: #ffffff;
                border: 1px solid #ffffff;
                color: #000000;
                &:before {
                    color: #000000;
                    font-size: 20px !important;
                }
            }
        }
    }
    p#toolbar-amount {
        .label_style;
    }
    .pages {
        #paging-label {
            .label_style;
        }
        ul.pages-items {
            li {
                &.item {
                    a.page {
                        color: #454545;
                        background-color: transparent;
                        border: 1px solid transparent;
                        border-radius: 30px;

                        &:hover {
                            color: #a8a8a8;
                            background-color: transparent;
                            border: 1px solid transparent;
                        }
                        span {
                            width: 100%;
                        }
                    }
                    &.current {
                        strong.page {
                            color: #000000;
                            background-color: transparent;
                            border: 1px solid #cccccc;
                            border-radius: 30px;

                            span {
                                width: 100%;
                            }
                        }
                    }
                    &.pages-item-previous,
                    &.pages-item-next {
                        a {
                            font-size: 16px;
                            color: #000000;
                            background-color: #ffffff;
                            border: 1px solid #ffffff;
                            border-radius: 30px;
                            &:before {
                                color: #000000;
                                font-size: 16px;
                            }
                            &:hover {
                                background-color: #000000;
                                border: 1px solid #000000;
                                &:before {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .field.limiter {
        label {
            .label_style;
            span {
                .label_style;
            }
        }
        .limiter-text {
            .label_style;
        }
    }
    .toolbar-sorter.sorter {
        label {
            .label_style;
        }
        .sorter-action {
            &:before {
                font-size: 12px;
            }
            &:hover {
                &:before {
                }
            }
        }
    }
}
