// Brands empty block
@brands-empty__title--font-size: 58;
@brands-empty__title--line-height: 60;
@brands-empty__title--color: @custom__color-black;

@brands-empty__text--color: @custom__color-black;
@brands-empty__text-special--color: @theme__primary--color-600;

@brands-empty__action--font-size: 14;
@brands-empty__action--line-height: 14;
@brands-empty__action--font-weight: @font-weight__semibold;
@brands-empty__action--color: @custom__color-black;
@brands-empty__action--border: 2px solid @custom__color-black;
@brands-empty__action--border-radius: 8px;
@brands-empty__action--background: transparent;
@brands-empty__action-secondary--color: @color-white;
@brands-empty__action-secondary--border: 2px solid @theme__primary--color-500;
@brands-empty__action-secondary--background: @theme__primary--color-500;
