& when (@media-common =true) {
    p.cls_cont_static {
        .lib-font-size(18);
        line-height: @base-line-height;
        font-weight: @font-weight__regular;
        text-align: @contact-align-subtitle;
        margin-bottom: @contact-cont-static-margin-bottom;
    }
}
