& when (@media-common = true) {
    .tickets-customer-index {
        .page-main {
            .page-title-wrapper {
                .page-title {
                    font-family: @custom-secondary-font-family;
                }
            }
        }

        .mytickets-container {
            .mytickets-list {
                .mytickets-table-wrapper {
                    border-color: @theme__primary--brd-light;
                    padding: 0;

                    .mytickets-table-header {
                        .mytickets-table-row {
                            padding: 0px @indent__s;
                        }

                        .mytickets-table-col {
                            .lib-font-size(14);
                            font-weight: @font-weight__bold;
                            color: @theme__secondary--color-800;
                            padding: @indent__s 0;
                        }
                    }

                    .mytickets-table-body {
                        .mytickets-table-row {
                            border-color: @theme__primary--brd-light;
                            padding: 0px @indent__s;

                            .mytickets-table-col {
                                color: @theme__secondary--color-400;
                                padding: @indent__s + 4 0;

                                &.status span {
                                    .lib-font-size(12);

                                    &.ticket-active {
                                        color: @theme__primary--500;
                                        background-color: @theme__primary--brd-light;
                                    }

                                    &.ticket-pending {
                                        color: @theme__secondary--color-300;
                                        background-color: @theme__secondary--color-500;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ticket-chat-modal {
        .message-container {
            .message {
                background: @custom__color-gray5;
                padding: @indent__xs;
            }

            &.merchant {
                .message {
                    background: @theme__primary--50;

                    .name {
                        padding: @indent__xxs 0;
                        font-weight: @font-weight__bold;
                    }
                }
            }
        }

        .chat-date-container {
            margin: 0 0 @indent__s;
            text-align: center;

            .chat-date {
                padding: @indent__xs @indent__s;
                background: @color-gray95;
                border-radius: 4px;
            }
        }

        .chat-submit-form {
            border-top: 2px solid @theme__primary--brd-light;
            padding: @indent__xs @indent__base;

            #ticket-chat-form {
                #message {
                    padding: @indent__xs;
                    .lib-line-height(normal);
                }
            }

            form {
                border: 2px solid @theme__primary--brd-light;
                border-radius: 50px;
                padding: @indent__xxs;

                .add-btn.btn-submit-txt {
                    background: @theme__primary--500;
                    color: @custom__color-white;
                    padding: @indent__s 24px;
                    height: fit-content;
                    border-radius: 50px;
                }
            }
        }

        .chat-messages-wrapper {
            padding: @indent__base;
            .lib-font-size(@font-size__xs);
            font-weight: @font-weight__heavier;
            .lib-line-height(@font-size__s);
            color: @theme__secondary--color-400;
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = 'min')
    and
    (@break = @screen__s) {
    .tickets-customer-index {
        .mytickets-container {
            .mytickets-table-body {
                .no-record {
                    border-top: 1px solid @theme__primary--brd-light;
                }
            }
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = 'max')
    and
    (@break = @screen__m) {
    .tickets-customer-index {
        .page-wrapper {
            .page-main {
                .mytickets-container {
                    .mytickets-table-header {
                        display: none;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = 'max')
    and
    (@break = @screen__s) {
    .tickets-customer-index {
        .columns {
            .mytickets-container {
                .mytickets-list {
                    .mytickets-table-wrapper {
                        padding: 0px;

                        .mytickets-table-body {
                            .mytickets-table-row {
                                gap: @indent__s + 4;
                                padding: @indent__s + 4 @indent__s;
                            }
                        }
                    }
                }
            }
        }
    }
}
