<?xml version="1.0"?>
<!--
/**
 * LuxuryUnlimited_AjaxTrackOrder
 *
 * @copyright   Copyright (c) 2023
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="LuxuryUnlimited_AjaxTrackOrder" setup_version="1.0.0">
    <sequence>
            <module name="Magento_Sales"/>
    </sequence>
    </module>
</config>
