// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//--------------------------------------

& when (@media-common =true) {
    body,
    html {
        overflow-x: hidden;
    }

    .cms-contact-us {
        .column.main {
            direction: rtl;

            .form.contact {
                .field {
                    .control {
                        select {
                            background-position: 4% center;
                        }
                    }
                }
            }
        }

        .cls_contactus_main {
            .form {
                &.contact {
                    .field {
                        &.name {
                            .firstname {
                                select {
                                    border: 0;
                                    padding: 3px 15px 3px @indent__l;

                                    &:focus {
                                        box-shadow: none;
                                    }
                                }

                                input {
                                    height: auto;
                                }
                            }
                        }

                        &.telephone {
                            .intl-tel-input {
                                &.allow-dropdown {
                                    .flag-container {
                                        right: 0;
                                        left: auto;

                                        .selected-flag {
                                            padding-left: 0;
                                            padding-right: 12px;

                                            .iti-arrow {
                                                &::after {
                                                    left: auto;
                                                    right: 33px;
                                                }
                                            }

                                            &::after {
                                                right: auto;
                                                left: 10px;
                                            }
                                        }
                                    }

                                    input {
                                        padding-left: 0;
                                        padding-right: 110px;
                                    }
                                }
                            }
                        }
                    }
                }

                .submit_main_contact {
                    .actions-toolbar {
                        float: none;
                        text-align: center;

                        .action {
                            &.primary {
                                .lib-button-primary();
                                float: none;
                                text-align: center;
                            }
                        }

                        .primary {
                            float: none;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile  max-width: 480px
//--------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum ='max')
    and
    (@break =@screen__xs) {
    .pl-thm-luxuryunlimited-brands_labels_rtl {
        &.cms-page-view {
            &.cms-contact-us {
                .cls_contactus_main {
                    .form.contact {
                        .field {
                            &.select_input_box {
                                .intl-tel-input {
                                    &.allow-dropdown {
                                        .flag-container {
                                            .selected-flag {
                                                &::after {
                                                    right: auto;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile  max-width: 768px
//--------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum ='max')
    and
    (@break =@screen__m) {
    .cms-page-view {
        &.cms-contact-us {
            .cls-contact-details {
                .contact-us-page-bottom-contact {
                    .contact-details__description {
                        .contact-details__details {
                            .content {
                                text-align: right;

                                p {
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile  max-width: 480px
//--------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum ='min')
    and
    (@break =@screen__m) {
    .cms-contact-us {
        .cls_contactus_main {
            .form {
                &.contact {
                    .submit_main_contact {
                        .actions-toolbar {
                            float: none;
                            text-align: center;

                            .primary {
                                float: none;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
