//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .careers-content {
        &:extend(.abs-add-clearfix all);

        .careers-content-img {
            margin-bottom: @indent__xl;

            img {
                width: 100%;
            }
        }

        .careers-content-left {
            margin-bottom: 68px;
        }
    }

    .careers-wrap {
        .careers-form-wrap {
            .careers-form-title {
                text-align: center;
            }

            .careers-form {
                .fieldset {
                    margin: 0 0 26px;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = 'min')
    and
    (@break = @screen__m) {
    .careers-content {
        .careers-content-left {
            float: left;
            width: 44.44444444444444%;
        }

        .careers-content-img {
            float: right;
            width: 41.666666666666664%;
        }
    }

    .careers-wrap {
        .careers-search {
            width: 41.94444444444444%;
        }

        .careers-form-wrap {
            width: 51.111111111111114%;
        }
    }
}
