<?xml version="1.0"?>
<!--
/**
 * LuxuryUnlimited_GoogleAnalytics
 *
 * @copyright   Copyright (c) 2023
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_before">
        <observer name="order_save_before" instance="LuxuryUnlimited\GoogleAnalytics\Observer\PlaceOrderBefore"/>
    </event>
</config>
