<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="sale_products" id="sale_products">
            <module name="LuxuryUnlimited_SaleProducts"/>
        </route>
    </router>
</config>
