<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="LuxuryUnlimited\AjaxWishList\Controller\Index\Add">
        <plugin name="belvg_after_adding_to_wishlist" type="Belvg\Products\Plugin\Add" />
    </type>
</config>
