//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .smile-es-range-slider {
        .ui-slider-horizontal {
            border: 1px solid @theme__primary--brd-dark;
            background-color: transparent;
        }

        .ui-slider-range.ui-widget-header.ui-corner-all {
            background-color: @theme__primary--500;
            height: 10px;
            position: absolute;
        }

        .ui-slider-handle {
            background-color: @theme__primary--500;
        }
    }
}
