<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="LuxuryUnlimited_Smartwave">
        <sequence>
            <module name="Smartwave_Megamenu"/>
            <module name="Smartwave_Porto"/>
        </sequence>
    </module>
</config>