<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="erp" translate="label" sortOrder="100">
            <label>ERP Settings</label>
        </tab>
        <section id="erp" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General Settings</label>
            <tab>erp</tab>
            <resource>Intobi_ERP::erp</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="is_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Is enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_request" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send request to ERP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_iframe" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow iframe</label>
                    <comment>Allow hosts access to iframe. List the hosts separated by commas.</comment>
                </field>
                <field id="hosts_api" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Request hosts</label>
                    <comment>Where will send request after save. List the hosts separated by commas.</comment>
                </field>
                <field id="page_save" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Page save url</label>
                    <comment>ERP api save url.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
