& when (@media-common = true) {
    .page-header {
        .switcher {
            position: relative;

            &:not(:last-child)::after {
                content: '';
                display: inline-block;
                height: 15px;
                border: 1px solid @switcher_trigger_font-color;
                position: absolute;
                right: -0.5px;
                top: 50%;
                transform: translateY(-50%);
            }

            .options {
                .action.toggle {
                    &:after {
                        .lib-hide-content();
                    }
                }
            }
        }
    }
}
