@icon-font-family: 'icomoon';

@icon-close: '\e900';
@icon-trash: '\e901';
@icon-logout: '\e902';
@icon-notifications: '\e903';
@icon-coupon: '\e904';
@icon-ticket: '\e905';
@icon-list-alt: '\e906';
@icon-location: '\e907';
@icon-password: '\e908';
@icon-dashboard: '\e909';
@icon-plus: '\e90a';
@icon-minus: '\e90b';
@icon-hamberger-menu: '\e90c';
@icon-hamberger-menu2: '\e910';
@icon-user: '\e911';
@icon-user2: '\e912';
@icon-search: '\e916';
@icon-search2: '\e955';
@icon-search3: '\e956';
@icon-wishlist: '\e957';
@icon-wishlist2: '\e95a';
@icon-wishlist-full: '\e913';
@icon-left: '\e914';
@icon-right: '\e915';
@icon-mini-cart: '\e958';
@icon-mini-cart2: '\e959';
@icon-up: '\e917';
@icon-down: '\e918';
@icon-account: '\e919';
@icon-add-to-cart: '\e91a';
@icon-chat: '\e91b';
@icon-credit-card: '\e91c';
@icon-open-eye: '\e91d';
@icon-return: '\e91e';
@icon-star-empty: '\e925';
@icon-star: '\e926';
@icon-arrow-left: '\e927';
@icon-chat1: '\e928';
@icon-checkbox: '\e929';
@icon-eye: '\e92c';
@icon-mail: '\e92d';
@icon-phone: '\e92e';
@icon-radio: '\e92f';
@icon-radio-check: '\e930';
@icon-download: '\e91f';
@icon-edit: '\e920';
@icon-error: '\e921';
@icon-print: '\e922';
@icon-private: '\e923';
@icon-success: '\e924';
@icon-alert: '\e931';
@icon-block: '\e932';
@icon-cloud: '\e933';
@icon-contact: '\e934';
@icon-dashboard1: '\e935';
@icon-export: '\e936';
@icon-filter: '\e937';
@icon-flag: '\e938';
@icon-folder: '\e939';
@icon-group: '\e93a';
@icon-help: '\e93b';
@icon-home: '\e93c';
@icon-import: '\e93d';
@icon-info: '\e93e';
@icon-lock: '\e93f';
@icon-marketing: '\e940';
@icon-more: '\e941';
@icon-on-hold: '\e942';
@icon-plug-in: '\e943';
@icon-refresh: '\e944';
@icon-report: '\e945';
@icon-return-list: '\e946';
@icon-return-list2: '\e947';
@icon-return-list3: '\e948';
@icon-sales: '\e949';
@icon-save: '\e94a';
@icon-setting: '\e94b';
@icon-shopping: '\e94c';
@icon-tag: '\e94d';
@icon-time: '\e94e';
@icon-tools: '\e94f';
@icon-tooltip: '\e950';
@icon-tree: '\e951';
@icon-unlock: '\e952';
@icon-arrow-right: '\e953';
@icon-facebook: '\e90d';
@icon-facebook-f: '\e90e';
@icon-instagram: '\e90f';
@icon-linkdin: '\e92a';
@icon-twitter: '\e92b';
@icon-youtube: '\e954';
@icon-no-coupon: '\e95b';
@icon-coupon-empty: '\e95c';
@icon-social-link: '\e95d';

@icomoon-font-size: 18px;
@icomoon-font-family: @icon-font-family;
