//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .sparsh-faq-block {
        .faq-question {
            text-align: right;

            &:after {
                left: 30px;
                right: auto;
            }
        }

        .faq-answer {
            text-align: right;
        }
    }
}
