//
//  Common
//  _____________________________________________
@brands-empty__title--font-size: 50;
@brands-empty__title--line-height: 58;
@brands-empty__title--color: @theme__primary--color-800;

@brands-empty__image--display: none;

@brands-empty__text--color: @theme__primary--color-400;
@brands-empty__text-special--color: @theme__primary--color-500;

@brands-empty__action--font-size: 16;
@brands-empty__action--line-height: 18;
@brands-empty__action--font-weight: @font-weight__heavier;
@brands-empty__action--border: 1px solid @theme__primary--color-800;
@brands-empty__action--border-radius: 10px;
@brands-empty__action--background: @theme__primary--color-800;
@brands-empty__action-secondary--color: @theme__primary--color-800;
@brands-empty__action-secondary--border: @brands-empty__action--border;
