<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="most_popular" id="most_popular">
            <module name="LuxuryUnlimited_MostPopular"/>
        </route>
    </router>
</config>
