//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    .modal-confirm-logout {
        .modal-header {
            .modal-title {
                margin-bottom: 0;
            }
        }

        .modal-content {
            text-align: center;
        }

        .modal-footer {
            .lib-vendor-prefix-display(flex);
            justify-content: center;
        }
    }
}
