//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .customer-account-edit {
        #form-validate {
            border: 1px solid @custom__color-transparent-gray7;
            padding: @indent__base;

            h2 {
                display: none;
            }
        }
    }
}
