//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    .about-us-wrapper {
        .header {
            text-align: center;
            padding: @indent__base 0 80px;
            color: @custom__color-black;

            h1 {
                .lib-font-size(32);
                .lib-line-height(14);
                margin: 0;
            }
        }

        .content {
            padding: 28px @indent__s;
            border: 2px solid @theme__primary--color-200;
            border-radius: 8px;

            .paragraph {
                p {
                    color: @custom__color-gray1;
                }
            }
        }
    }
}
