//
//  APP - CMS PAGE
//  _____________________________________________

@app-tabs-tab__border: 1px solid @theme__secondary--color-200;
@app-tabs-tab__color: @color-black;
@app-tabs-tab-active__color: @color-black;
@app-tabs-data__border: 1px solid @theme__secondary--color-200;
@app-tabs-tab__font-weight: @font-weight__semibold;

@app-subscribe-form__display: block;
@app-subscribe-form__height: 52px;
@app-subscribe-button__background: @theme__primary--color;
@app-subscribe-button__color: @color-white;
@app-subscribe-button__border-radius: 12px;
@app-subscribe-title__font-family: @font-family__base;
@app-subscribe-title__font-weight: @font-weight__semibold;
@app-subscribe-subtitle__font-weight: @font-weight__regular;
@app-subscribe-title__color: @app-reasons-subtitle__color;
@app-subscribe-subtitle__color: @custom__color-gray1;

@app-reasons-title__color: @color-black;
@app-reasons-title__font-size: 24;
@app-reasons-subtitle__color: @color-black;
@app-reasons-subtitle__font-size: 14;
@app-reasons-description__color: @custom__color-gray1;
@app-reasons-description__font-size: 12;
@app-reasons-block__background: transparent;
@app-reasons-block__border-radius: 3px;
@app-reasons-icon-wrapper__height: 110px;
@app-reasons-icon-wrapper__width: 110px;
@app-reasons-icon-wrapper__border: 1px solid @theme__secondary--color-200;
@app-reasons-icon-wrapper__background: @color-white;
@app-reasons-icon__height: 40px;
@app-reasons-icon__width: 40px;
@app-reasons-middle-wraper__border: 1px solid @theme__secondary--color-200;
