// Brands empty block
@brands-empty__title--font-size: 24;
@brands-empty__title--line-height: 38;
@brands-empty__title--color: @color-black;

@brands-empty__image--display: block;
@brands-empty__image--src: '@{baseDir}images/lx-404-logo.png';
@brands-empty__image--indent: 0 auto @indent__m;

@brands-empty__text--color: @theme__color__primary;
@brands-empty__text-special--color: @color-black;

@brands-empty__action--font-size: 14;
@brands-empty__action--line-height: 18;
@brands-empty__action--font-weight: @font-weight__bold;
@brands-empty__action--color: @color-white;
@brands-empty__action--border: 2px solid @color-gray90;
@brands-empty__action--border-radius: 5px;
@brands-empty__action--background: @color-gray90;
@brands-empty__action-secondary--color: @color-gray90;
@brands-empty__action-secondary--border: 2px solid @color-gray90;
@brands-empty__action-secondary--background: transparent;
