//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .lib-font-face(
        @family-name: 'Montserrat',
        @font-path: '@{baseDir}fonts/montserrat/Montserrat-Thin',
        @font-weight: 100,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: 'Montserrat',
        @font-path: '@{baseDir}fonts/montserrat/Montserrat-ExtraLight',
        @font-weight: 200,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name:'Montserrat',
        @font-path: '@{baseDir}fonts/montserrat/Montserrat-Light',
        @font-weight: 300,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: 'Montserrat',
        @font-path: '@{baseDir}fonts/montserrat/Montserrat-Regular',
        @font-weight: 400,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: 'Montserrat',
        @font-path: '@{baseDir}fonts/montserrat/Montserrat-Italic',
        @font-weight: 400,
        @font-style: italic,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: 'Montserrat',
        @font-path: '@{baseDir}fonts/montserrat/Montserrat-Medium',
        @font-weight: 500,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: 'Montserrat',
        @font-path: '@{baseDir}fonts/montserrat/Montserrat-SemiBold',
        @font-weight: 600,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: 'Montserrat',
        @font-path: '@{baseDir}fonts/montserrat/Montserrat-Bold',
        @font-weight: 700,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: 'Montserrat',
        @font-path: '@{baseDir}fonts/montserrat/Montserrat-ExtraBold',
        @font-weight: 800,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: 'Montserrat',
        @font-path: '@{baseDir}fonts/montserrat/Montserrat-Black',
        @font-weight: 900,
        @font-style: normal,
        @font-display: swap
    );
}
