//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    // Brasley
    .lib-font-face(
        @family-name: 'Brasley',
        @font-path: '@{baseDir}fonts/brasley/Brasley-Regular',
        @font-weight: 400,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: 'Brasley',
        @font-path: '@{baseDir}fonts/brasley/Brasley-Medium',
        @font-weight: 500,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: 'Brasley',
        @font-path: '@{baseDir}fonts/brasley/Brasley-Bold',
        @font-weight: 700,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: 'Brasley',
        @font-path: '@{baseDir}fonts/brasley/Brasley-SemiBold',
        @font-weight: 600,
        @font-style: normal,
        @font-display: swap
    );

    // Playfair Display
    .lib-font-face(
        @family-name: 'Playfair Display',
        @font-path: '@{baseDir}fonts/playfair-display/PlayfairDisplay-Medium',
        @font-weight: 500,
        @font-style: normal,
        @font-display: swap
    );

    // Figtree
    .lib-font-face(
        @family-name: 'Figtree',
        @font-path: '@{baseDir}fonts/Figtree/Figtree-SemiBold',
        @font-weight: @font-weight__semibold,
        @font-style: normal,
        @font-display: swap
    );

    // Work Sans
    .lib-font-face(
        @family-name: 'Work Sans',
        @font-path: '@{baseDir}fonts/worksans/WorkSans-Regular',
        @font-weight: 400,
        @font-style: normal,
        @font-display: swap
    );
}
