//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    body.layout-fullwidth.page-layout-2columns-left.account {
        .columns {
            .lib-vendor-prefix-display(flex);
            flex-wrap: wrap;
            flex-direction: row-reverse;

            .column.main {
                padding: 0 33px 0 0;
                float: none;
                order: unset;
                flex-basis: unset;
            }

            .sidebar-main {
                max-width: 320px;
                float: none;
                order: unset;
                flex-basis: unset;
                padding: 0;
            }
        }
    }

    .customer-account-index {
        .box-content,
        .block-content {
            column-gap: 24px;
            row-gap: 24px;
        }
    }

    .customer-account-index {
        .block {
            .block-title {
                background-color: @theme__territory--color-500;
                padding: @indent__xs @indent__l;
                margin-bottom: 0;

                strong {
                    .lib-font-size(24);
                    line-height: @indent__l;
                    font-weight: @font-weight__bold;
                    color: @theme__territory--white;
                }

                a.action.edit {
                    font-size: @font-size__s;
                    .lib-line-height(19);
                    text-transform: capitalize;
                    font-weight: @font-weight__bold;
                    border: 2px solid @theme__primary--color-500;
                    background-color: @theme__primary--color-500;
                    color: @theme__territory--white;
                    border-radius: 5px;
                    padding: 10px;
                }
            }
        }
    }

    .block {
        .title {
            strong {
                font-size: @font-size__l;
                margin: 0;
                .lib-line-height(22);
                font-weight: @font-weight__regular;
                color: @theme__territory--white;
            }
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = 'max')
    and
    (@break = @screen__m) {
    body.layout-fullwidth.page-layout-2columns-left.account {
        .page-wrapper {
            .columns {
                .column.main {
                    padding: 0;
                }

                .sidebar-main {
                    max-width: 100%;
                }
            }
        }
    }

    .customer-account-index {
        .page-wrapper {
            .block.block-dashboard-info {
                .box {
                    .box-title {
                        .lib-font-size(20);
                        padding: 15px @indent__s;
                    }
                }
            }

            .box {
                .box-title {
                    padding: 17px 20px;
                }
            }

            .box-content,
            .block-content {
                column-gap: @indent__s;
                row-gap: @indent__s;
            }

            .block-dashboard-addresses {
                > .box-content {
                    padding: 16px;
                }
            }

            .block {
                .block-title {
                    padding: 15px @indent__s;
                    strong {
                        .lib-font-size(20);
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = 'max')
    and
    (@break = @screen__xs) {
    .customer-account-index {
        .page-main {
            .page-title-wrapper {
                margin: 50px 20px 50px 20px;

                .page-title {
                    span {
                        .lib-font-size(24);
                        font-style: normal;
                        .lib-line-height(30);
                        font-weight: @font-weight__semibold;
                    }
                }
            }
        }
    }
}
