//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cms-noroute-index {
        .not-found {
            max-width: @cms-404-content__max-width;

            &-content {
                margin: @indent__xl 0;
                letter-spacing: @cms-404-content__letter-spacing;

                &-title {
                    color: @theme__territory--color-500;
                    margin: @indent__xl 0;
                    font-weight: @font-weight__bold;
                }

                &-text {
                    .lib-font-size(@cms-404-text__font-size);
                    .lib-line-height(@cms-404-text__line-height);
                    color: @theme__territory--color-400;
                    margin: @indent__xl 0;
                    font-weight: @font-weight__regular;
                }
            }
        }
    }
}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum = 'min')
    and
    (@break = @screen__m) {
    .cms-noroute-index {
        .not-found {
            &-content {
                &-title {
                    .lib-font-size(@cms-404-title__font-size);
                }
            }
        }
    }
}

//
//  Mobile
//  ---------------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum = 'max')
    and
    (@break = @screen__m) {
    .cms-noroute-index {
        .not-found {
            &-content {
                &-title {
                    .lib-font-size(@cms-404-title-mobile__font-size);
                }
            }
        }
    }
}
