@brands-empty__title--font-size: 50;
@brands-empty__title--line-height: 58;
@brands-empty__title--color: @theme__primary--500;

@brands-empty__image--display: none;

@brands-empty__text--color: @theme__secondary--color-400;
@brands-empty__text-special--color: @theme__primary--500;

@brands-empty__action--border: 1px solid transparent;
@brands-empty__action--background: @theme__primary--500;
@brands-empty__action-secondary--color: @theme__primary--500;
@brands-empty__action-secondary--border: 1px solid @theme__primary--500;
