//
//  All Screens
//  _____________________________________________

& when (@media-common = true) {
    .product-item-info {
        .belvg-quick-view-link {
            opacity: 0;
        }

        &:hover {
            .belvg-quick-view-link {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
