//
//  APP - CMS PAGE
//  _____________________________________________
@app-tabs-tab__font-weight: @font-weight__heavier;
@app-tabs-tab__font-size: 18;
@app-tabs-data__font-size: 14;
@app-tabs-tab__border: 1px solid @theme__secondary--color-200;
@app-tabs-tab__color: @color-black;
@app-tabs-tab-active__color: @color-black;
@app-tabs-data__border: 1px solid @theme__secondary--color-200;

@app-subscribe-title__color: @theme__primary--color-800;
@app-subscribe-title__font-family: @font-family__base;
@app-subscribe-title__font-weight: @font-weight__heavier;
@app-subscribe-subtitle__color: @theme__primary--color-400;
@app-subscribe-subtitle__font-family: @font-family__base;
@app-subscribe-subtitle__font-weight: @font-weight__regular;
@app-subscribe-form__height: 50px;
@app-subscribe-form__display: block;
@app-subscribe-button__background: @theme__primary--color;
@app-subscribe-button__color: @color-white;
@app-subscribe-button__border-radius: 12px;

@app-reasons-title__margin: 0 0 50px;
@app-reasons-title__font-size: 24;
@app-reasons-title__font-weight: @font-weight__heavier;
@app-reasons-title__font-family: @font-family__base;
@app-reasons-title__color: @theme__primary--color-500;
@app-reasons-block__background: @theme__territory--nero--color-15;
@app-reasons-block-second__background: @theme__secondary--color-500;
@app-reasons-block-third__background: @theme__secondary--color-400;
@app-reasons-block__border-radius: 10px;
@app-reasons-subtitle__font-size: 18;
@app-reasons-subtitle__font-family: @font-family__base;
@app-reasons-subtitle__font-weight: @font-weight__heavier;
@app-reasons-subtitle__color: @theme__primary--color-500;
@app-reasons-description__font-size: 16;
@app-reasons-description__font-weight: @font-weight__light;
@app-reasons-description__color: @theme__primary--color-500;
@app-reasons-middle-wraper__border: 0px solid @theme__secondary--color-200;
@app-reasons-icon-wrapper__height: 75px;
@app-reasons-icon-wrapper__width: 75px;
@app-reasons-icon-wrapper__border: 1px solid @theme__secondary--color-200;
