//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    .pivacy-policy-wrapper {
        .header {
            text-align: center;
            padding: 66px;
            margin: 0;
        }
    }
}
