//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .lx-brands__list-section {
        border-bottom: 2px solid @custom__color-gray5;
        margin: 0 0 @indent__l;
        box-shadow: 3px 3px 0 0 @theme__secondary--color-50;

        .lx-brands__brand-title-wrapper {
            margin: 0 0 @indent__s;
            padding: @indent__xs 20px;
            background-color: @theme__secondary--color-50;
        }

        .lx-brands__brand-title {
            .lib-font-size(18);
            .lib-font-size(18);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: @color-white;
            font-weight: @font-weight__bold;
            background-color: @theme__primary--color-500;
        }

        .lx-brand-list {
            padding: 0 20px;
        }

        .lx-brand-list__name {
            margin: 0 0 @indent__xs;

            &:last-child {
                margin: 0 0 20px;
            }

            a {
                .lib-font-size(16);
                .lib-line-height(24);
                color: @theme__territory--color-300;
            }
        }

        .lx-brand-list__show {
            .lib-font-size(14);
            position: absolute;
            top: 18px;
            right: 20px;
            margin: 0;
            color: @theme__primary--color-500;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = 'min')
    and
    (@break = @screen__m) {
    .lx-brands__list-section {
        .lx-brand-list {
            .lx-brand-list__name {
                a {
                    display: -webkit-box;
                    max-width: 100%;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                }
            }
        }
    }
}
