<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system> 
        <section id="home_page" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="product_section_one" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Section # 1</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Section</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_count" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>No. of Products to display</label>
                    <comment>If not set, default will be 4</comment>
                </field>
                <field id="category" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Choose Category</label>
                    <source_model>LuxuryUnlimited\HomeProductSection\Model\Source\CategoryTree</source_model>
                </field>
            </group>
            <!-- section 2 -->
            <group id="product_section_two" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Section # 2</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Section</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_count" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>No. of Products to display</label>
                    <comment>If not set, default will be 4</comment>
                </field>
                <field id="category" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Choose Category</label>
                    <source_model>LuxuryUnlimited\HomeProductSection\Model\Source\CategoryTree</source_model>
                </field>
            </group>
            <!-- section 3 -->
            <group id="product_section_three" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Section # 3</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Section</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_count" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>No. of Products to display</label>
                    <comment>If not set, default will be 4</comment>
                </field>
                <field id="category" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Choose Category</label>
                    <source_model>LuxuryUnlimited\HomeProductSection\Model\Source\CategoryTree</source_model>
                </field>
            </group>
        </section>
    </system>
</config>