//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    .customer-account-edit {
        #form-validate {
            padding: @indent__m;
            background: @theme__secondary--color-100;
            border-top-left-radius: @indent__xxs;
            border-top-right-radius: @indent__xxs;

            h2 {
                background: @custom__color-black;
                margin: -@indent__m;
                padding: @indent__m;
                text-align: left;
                color: @theme__territory--white;
                margin-bottom: @indent__m;
                border-top-left-radius: @indent__xxs;
                border-top-right-radius: @indent__xxs;
            }
        }

        .field-container {
            .field {
                label {
                    display: none;
                }
            }
        }
    }
}
