<?xml version="1.0"?>
<!--
/**
* Meetanshi_DeferJS
*
* @copyright   Copyright (c) 2023 IdeaInYou
* @author      RuslanP <ruslan.p@ideainyou.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Meetanshi_DeferJS" setup_version="1.0.6"/>
</config>
