//
//  APP - CMS PAGE
//  _____________________________________________

@app-tabs-tab__border: 1px solid @theme__secondary--color-200;
@app-tabs-tab__color: @color-black;
@app-tabs-tab-active__color: @color-black;
@app-tabs-data__color: @theme__primary--color-26;
@app-tabs-data__font-size: 16;
@app-tabs-data__border: 1px solid @theme__secondary--color-200;
@app-tabs-tab__font-weight: @font-weight__heavier;
@app-tabs-tab__font-size: 16;

@app-subscribe-form__display: block;
@app-subscribe-form__height: 40px;
@app-subscribe-button__background: @theme__primary--color;
@app-subscribe-button__color: @color-white;
@app-subscribe-button__border-radius: 50px;
@app-subscribe-button__font-size: 14;
@app-subscribe-title__font-size: 36;
@app-subscribe-title__font-family: @font-family__base;
@app-subscribe-title__font-weight: @font-weight__heavier;
@app-subscribe-title__color: @theme__primary--color-500;
@app-subscribe-subtitle__font-size: 16;
@app-subscribe-subtitle__font-family: @font-family__base;
@app-subscribe-subtitle__font-weight: @font-weight__heavier;
@app-subscribe-subtitle__color: @theme__primary--color-26;
