//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    body.swarming_credits-index-index {
        .returns_footer {
            .pages {
                .item {
                    .action {
                        display: inline;
                    }

                    &:last-child {
                        margin-right: @indent__xs;
                    }
                }
            }
        }
    }

    .pages {
        .action {
            &.next {
                &:before {
                    content: @icon-left;
                }
            }

            &.previous {
                &:before {
                    content: @icon-right;
                }
            }
        }
    }
}
