& when (@media-common = true) {
    .owl-theme {
        .owl-controls {
            .owl-nav {
                [class*='owl-'] {
                    background-color: @custom__color-gray7;
                    color: @custom__color-gray8;

                    .icon-icon-left {
                        .lib-line-height(24);
                        .lib-font-size(24);
                        color: @custom__color-gray8;
                    }

                    .icon-icon-right {
                        .lib-line-height(24);
                        .lib-font-size(24);
                        color: @custom__color-gray8;
                    }
                }
            }
        }
    }
}
