& when (@media-common =true) {
    .form {
        &.contact {
            .note {
                .lib-font-size(16);
                .lib-line-height(24);
                max-width: @contact-note-width;
                margin: 0 auto @contact-note-space-bottom;
                text-align: center;
            }

            .fieldset {
                margin-bottom: 0;
            }

            .form-control {
                .fieldset {
                    .lib-css(gap, @contact-fieldset-prefix-flex-gap, @_prefix: 1);

                    .fields {
                        .lib-css(gap, @contact-fields-prefix-flex-gap, @_prefix: 1);
                    }
                }
            }

            .actions-toolbar {
                .lib-vendor-prefix-display();
                justify-content: center;
                margin-top: @contact-action-space-top;
                margin-bottom: 60px;

                > .primary {
                    width: 100%;
                    max-width: @contact-action-button-width;
                }

                .action.primary {
                    width: 100%;
                }
            }

            .contact__form-group.required {
                .label {
                    &:after {
                        content: '*';
                        color: @custom-secondary-text-color;
                        margin: 0;
                    }
                }
            }

            .contact__input-group {
                position: relative;
                width: 100%;

                #name {
                    padding-left: 93px;
                }

                input,
                select {
                    height: 52px;
                }

                input,
                select,
                textarea {
                    border-radius: 12px;

                    &:focus {
                        background-color: transparent;
                        box-shadow: none;
                        border-color: @header__top_link_split-color;
                    }

                    &.mage-error {
                        border-color: @header__top_link_split-color;
                    }
                }

                .mage-error {
                    color: @custom-secondary-text-color;
                }
            }

            .contact__select-wrapper {
                position: absolute;

                &::after {
                    .lib-vendor-prefix-display(block);
                    content: '';
                    width: 1px;
                    height: 22px;
                    background-color: @color-gray90;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                }
            }

            .contact__form-options::-ms-expand {
                .lib-vendor-prefix-display(none);
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = 'min')
    and
    (@break = @screen__m) {
    .form {
        &.contact {
            .contact__form-group {
                .lib-vendor-prefix-display(flex);
                gap: 24px;
                margin-bottom: @indent__s;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = 'max')
    and
    (@break = @screen__m) {
    .contact-index-index {
        .page-title {
            .base {
                .lib-font-size (32);
            }
        }
    }

    #contact-form {
        .contact__form-group {
            .lib-vendor-prefix-display(flex);
            gap: 24px;
        }
    }
}

.media-width(@extremum, @break)
    when
    (@extremum = 'max')
    and
    (@break = @screen__s) {
    .contact-index-index {
        .page-title {
            .base {
                .lib-font-size (20);
            }
        }

        #contact-form {
            .no-label {
                .lib-font-size(14);
                .lib-line-height(21);
                margin: 0 auto 36px;
            }

            .contact__form-group {
                .lib-vendor-prefix-display(block);
                margin-bottom: 0;
            }

            .contact__input-group {
                margin-bottom: 24px;
            }
        }
    }
}
