// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {
    // Track Order Steps
    .order-progress-steps {
        > li {
            &::after {
                left: auto;
                right: 9.5px;
            }
        }
    }
}

//
//  Desktop
//  ---------------------------------------------
& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media all and (min-width: 576px), print {
        .order-progress-steps {
            > li {
                &::after {
                    left: auto;
                    right: 50%;
                }
            }
        }
    }
}
