& when (@media-common = true) {
    .owl-prev,
    .owl-next {
        background-color: @theme__secondary--color-50;
        color: @custom__color-black;

        .icon-icon-left {
            .lib-line-height(24);
            .lib-font-size(24);
            color: @custom__color-black;
        }
    }
}
