//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    .about-us-wrapper {
        .header {
            text-align: center;

            h1 {
                color: @theme__secondary--color-800;
                .lib-line-height(24);
                .lib-font-size(@font-size__xl);
                margin: 0 0 @indent__l;
            }
        }

        .content {
            color: @theme__secondary--color-400;
            .lib-line-height(24);
            .lib-font-size(@font-size__l);
        }
    }
}
