//
//  APP - CMS Page Styles
//  _____________________________________________

@app-tabs-tab__color: @theme__secondary--color-400;
@app-tabs-data__color: @theme__secondary--color-400;
@app-subscribe-title__color: @app-reasons-subtitle__color;
@app-subscribe-subtitle__color: @app-reasons-description__color;
@app-reasons-subtitle__color: @theme__secondary--color-800;
@app-reasons-description__color: @theme__secondary--color-400;
@app-reasons-block__border: 0px solid @theme__primary--brd-light;
@app-reasons-icon-wrapper__border: 1px solid @theme__primary--brd-light;
@app-reasons-middle-wraper__border: 1px dashed @theme__primary--brd-light;
@app-tabs-tab__border: 1px solid @theme__primary--brd-light;
@app-tabs-data__border: 1px solid @theme__primary--brd-light;
