//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .phpro-cookie-notice {
        padding: 0;

        .notice-wrapper {
            .lib-css(flex-direction, column, @_prefix: 1);
            border-radius: @indent__xs;

            .notice__title {
                background-color: @custom__color-black;
                color: @theme__territory--white;
                width: 100%;
                padding: 14.5px 24px;
            }

            .notice__actions {
                padding: 24px;
                background-color: @theme__secondary--color-50;

                .notice__description {
                    color: @theme__territory--color-300;
                    padding: 0 0 32px;
                    width: 100%;
                    text-align: center;
                }

                .notice__btn-settings {
                    margin: 0 20px 0 0;
                    background: @theme__secondary--color-50;
                    text-decoration: underline;
                    color: @theme__primary--color-500;
                }

                .notice__btn-accept {
                    &:active,
                    &:focus,
                    &:hover {
                        background: @theme__primary--color-500;
                        color: @theme__territory--white;
                    }
                }

                .action.primary {
                    border: none;
                }
            }
        }
    }
}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum ='min')
    and
    (@break = @screen__m) {
    .phpro-cookie-notice {
        width: fit-content;
        max-width: 395px;
        margin: 48px;
    }
}

//
//  Mobile
//  ---------------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum ='max')
    and
    (@break = @screen__m) {
    .phpro-cookie-notice {
        background-color: @cookie-popup__background-color;
        padding: 0;
        width: 100%;
        height: 100%;

        .notice-wrapper {
            width: 100%;
            margin: 0;
            padding: @indent__s;
            position: absolute;
            bottom: 0;

            .notice__actions {
                .action.primary {
                    padding: @indent__xs 14px @indent__xs;
                }
            }
        }
    }
}
