// /**
//  * Copyright © Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//  _____________________________________________

& when (@media-common = true) {
    .modals-wrapper {
        aside.modal-popup.modals-ajaxcart.modal-slide._inner-scroll._show {
            .modal-inner-wrap {
                .modal-content {
                    .content-ajaxcart {
                        .ajaxcart-wrapper-main {
                            .main-section {
                                .right-main-section {
                                    .wp-product-container {
                                        .product-options-wrapper {
                                            .product-add-form {
                                                .product-options-wrapper {
                                                    .fieldset {
                                                        display: block;

                                                        .field.configurable.required {
                                                            .control {
                                                                .list-unstyled {
                                                                    border-color: @theme__primary--color-200;

                                                                    li {
                                                                        &:first-child {
                                                                            border-color: @theme__primary--color-200;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
