//
//  Common
//  _____________________________________________
& when (@media-common =true) {
    .sociallogin-account-socialaccounts {
        .social_empty {
            .empty_icon {
                .lib-icon-font(
                    @_icon-font-content: 'Opps...!',
                    @_icon-font: @icon-font-family,
                    @_icon-font-size: 50px,
                    @_icon-font-line-height: normal,
                    @_icon-font-color: @custom__color-black
                );
            }

            p {
                color: @custom__color-page-title;
            }
        }
    }
}
